.item {
    background-color: darkblue;
    color:azure;
    font-weight: bold;
    padding: 20px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    text-align: center;
    display: inline;

}
.menu-pai {
    display: flex;
    /* flex-direction: row;
    gap: 15px; */
    align-itens: center;
    justify-content: space-between;
    height: 150px;
    background-color:chartreuse;
}