.testo
{
    box-sizing: border-box;
    background-color: crimson;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;    
}

.mochila 
{
    display:flex;
    
}

.item-card
{
    padding: 16px;
    border-color: darkturquoise;
    border-radius: 4px;
    .pai
    {

    }
    .filho
    {
        
    }
}

.btn-descart
{

}

.item-lendario
{
    
}